<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="MonoAndroid50" />
  <package id="SplunkMint.Xamarin.Android" version="4.0.1" targetFramework="MonoAndroid50" />
  <package id="Xam.Plugin.Geofence" version="1.0.6" targetFramework="MonoAndroid50" developmentDependency="true" />
  <package id="Xamarin.Android.Support.v4" version="22.2.1.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="22.2.1.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="22.2.1.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="22.2.1.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Facebook" version="4.2.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices.Base" version="25.0.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices.Location" version="25.0.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices.Maps" version="25.0.0.0" targetFramework="MonoAndroid50" />
</packages>