<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>ge.unicard.unicardmobileapp</string>
	<key>CFBundleShortVersionString</key>
	<string>1.7</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>7.1</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>UNICARD</string>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
			<key>TintColor</key>
			<dict>
				<key>Red</key>
				<real>1</real>
				<key>Green</key>
				<real>1</real>
				<key>Blue</key>
				<real>1</real>
			</dict>
		</dict>
	</dict>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/bpg_extrasquare_mtavruli.ttf</string>
	</array>
	<key>FacebookAppID</key>
	<string>753021038764444</string>
	<key>FacebookDisplayName</key>
	<string>Unicard</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb753021038764444</string>
			</array>
		</dict>
	</array>
	<key>GoogleMapsAPIKey</key>
	<string>AIzaSyD0s47sf5XgkgF5peeYM5n7Imy1JE3YhFs</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>opencard</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Open virtual card</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Card</string>
			<key>UIApplicationShortcutItemType</key>
			<string>ge.unicard.unicardmobileapp.000</string>
		</dict>
	</array>
	<key>XSLaunchImageAssets</key>
	<string>Resources/Images.xcassets/LaunchImage.launchimage</string>
	<key>CFBundleName</key>
	<string>UNICARD</string>
	<key>XSAppIconAssets</key>
	<string>Resources/Images.xcassets/AppIcon.appiconset</string>
	<key>CFBundleVersion</key>
	<string>7</string>
</dict>
</plist>
